/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #342e7a;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    font-size: 1.2rem;
}
nav ul {
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
#hero {
    background: #6c63ff;
    color: white;
    padding: 2rem 0;
    text-align: center;
    background-image: url('images/hero-bg.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: background-position 0.1s ease-out;
}
#hero h2 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: fadeInSlide 1.5s forwards;
}
#hero p {
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Sections */
.section {
    padding: 2rem 0;
}

/* Project Category Folder Container */
.folder-container {
    background: #5e4dff;
    border-radius: 8px;
    row-gap: 45px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    height: 100%;
    transition: transform 0.3s;
}
.folder-container:hover {
    transform: scale(1.05);
}
.folder-container h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

/* Projects */
.project-grid {
    display: flex;
    gap: 45;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-item {
    perspective: 1000px; /* Enables 3D effect */
    width: 100%;
    max-width: 250px;
}

.project-content {
    position: relative;
    width: 100%;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.project-item:hover .project-content {
    transform: rotateY(180deg); /* Rotates on hover */
}

.project-front,
.project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side when flipped */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.project-front {
    background-color: #ffc375;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-front img {
    width: 50%;
}
.project-back {
    transform: rotateY(180deg);
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: small;
}

/* Navigation Styles */
nav ul {
    padding: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Dropdown Menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px 0;
    top: 100%;
    left: 0;
    min-width: 150px;
    border-radius: 5px;
    z-index: 10;
}
.dropdown-menu li {
    display: block;
    margin: 0;
}
.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-menu li a:hover {
    background-color: #6c63ff;
}


