/* Global Styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #342e7a;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    font-size: 1.2rem;
}
nav ul {
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
#hero {
    background: #6c63ff;
    color: white;
    padding: 2rem 0;
    text-align: center;
    background-image: url('images/hero-bg.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: background-position 0.1s ease-out;
}
#hero h2 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: fadeInSlide 1.5s forwards;
}
#hero p {
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Sections */
.section {
    padding: 2rem 0;
}

/* Projects */
.project-grid {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.project-item {
    perspective: 1000px;
    width: 1000%;
    max-width: 300px;
}
.project-content {
    position: relative;
    width: 100%;
    height: 200px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.project-item:hover .project-content {
    transform: rotateY(180deg);
}
.project-front,
.project-back {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.project-front {
    background-color: #65318d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-front img {
    width: 100%;
}
.project-back {
    transform: rotateY(180deg);
    background-color: #333;
    color: #fff;
    text-align: center;
}
.project-item:hover img {
    opacity: 0.8;
}
.project-item h3 {
    margin: 1rem 0;
}
.project-item a.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #6c63ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Contact Section */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
/* Navigation Styles */
nav ul {
    padding: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Dropdown Menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px 0;
    top: 100%;
    left: 0;
    min-width: 150px;
    border-radius: 5px;
    z-index: 10;
}
.dropdown-menu li {
    display: block;
    margin: 0;
}
.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-menu li a:hover {
    background-color: #6c63ff;
}
